.btn-primary {
  background-color: transparent !important;
}
.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
@media (max-width: 767px) {
  .sticky-navbar {
    bottom: auto;
    position: relative;
  }

  .page-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}
